# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    - uses: actions/checkout@v5
    - uses: actions/setup-go@v6
      with:
        go-version: '1.25.4'
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25.4'

    - name: CI
      run: make ci

    - name: Build
      run: make build

    - name: Test
      run: make test
